h1,
h2,
h3,
h4,
h5,
h6,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif;
}
img,
p,
pre,
ul,
video {
  margin-top: 0;
}
blockquote,
img,
p,
pre,
ul,
video {
  margin-bottom: 2.5rem;
}
table,
textarea {
  width: 100%;
}
textarea {
  resize: none;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  line-height: 1.618;
  max-width: 50em;
  margin: auto;
  color: #f9f9f9;
  background-color: #1a1a1a;
  padding: 13px;
}
@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }
}
@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}
h1 {
  font-size: 2.35em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
}
h6,
pre > code {
  font-size: 1em;
}
small,
sub,
sup {
  font-size: 75%;
}
code,
kbd,
pre,
samp {
  font-size: 0.9em;
  background-color: #292929;
}
hr {
  border-color: #982c61;
}
a {
  text-decoration: none;
  color: #982c61;
}
a:hover {
  color: #982c61;
}
ul {
  padding-left: 1.4em;
}
li {
  margin-bottom: 0.4em;
}
blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 0.8em 0.8em 0.8em 1em;
  border-left: 5px solid #4a4a4a;
  background-color: #292929;
}
blockquote p {
  margin-bottom: 0;
}
img,
video {
  height: auto;
  max-width: 100%;
}
pre {
  display: block;
  padding: 1em;
  overflow-x: auto;
}
code,
kbd,
samp {
  padding: 0 0.5em;
  white-space: pre-wrap;
}
pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
}
table {
  text-align: justify;
  border-collapse: collapse;
  margin-bottom: 2rem;
}
td,
th {
  padding: 0.5em;
  border-bottom: 1px solid #4a4a4a;
}
.button,
button,
input[type="button"],
input[type="file"]::file-selector-button,
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: #982c61;
  color: #f9f9f9;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}
.button[disabled],
button[disabled],
input[type="button"][disabled],
input[type="file"]::file-selector-button[disabled],
input[type="reset"][disabled],
input[type="submit"][disabled] {
  cursor: default;
  opacity: 0.5;
}
.button:hover,
button:hover,
input[type="button"]:hover,
input[type="file"]::file-selector-button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: #4a4a4a;
  color: #f9f9f9;
  outline: 0;
}
.button:focus-visible,
button:focus-visible,
input[type="button"]:focus-visible,
input[type="file"]::file-selector-button:focus-visible,
input[type="reset"]:focus-visible,
input[type="submit"]:focus-visible {
  outline-style: solid;
  outline-width: 2px;
}
input,
select,
textarea {
  color: #f9f9f9;
  padding: 6px 10px;
  margin-bottom: 10px;
  background-color: #292929;
  border: 1px solid #292929;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus {
  border: 1px solid #982c61;
  outline: 0;
}
input[type="checkbox"]:focus {
  outline: #982c61 dotted 1px;
}
fieldset,
label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
::-webkit-scrollbar {
  width: auto;
}
::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 5px;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #982c61;
}
